.footer {
    width: 100%;
    background-color: #4FAEE3;
}

.footerMenu {
    width: 65%;
    margin: 0 auto;
    color: #FFF;
    font-family: Roboto;
    display: flex;
    gap: 8%;

    background-image: url('../public//images/earth\ 2.png');
    background-repeat: no-repeat;
    background-position: right;
}

.footerMenu h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.footerMenu a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0 8px 0;
}

.footerMenu a:hover {
    color: rgb(75 85 99 / 0.8);
}

.footerUsa,
.footerCanada,
.footerMexico {
    display: flex;
    flex-direction: column;
    padding: 21px 0;
}

.copyRightMenu {
    background-color: #5DBBF0;
    width: 100%;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight:400;
    line-height: normal;
}



.copyRightMenuContent {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.footer2menu a{
    margin: 0 8px;
}

.footer2menu a:hover{
    color: rgb(75 85 99 / 0.8);
}

@media (min-width: 360px) and (max-width: 1024px) {
    .footerMenu {
        width: 90%;
        margin: 0 auto;
        color: #FFF;
        font-family: Roboto;
        display: flex;
        gap: 0%;
        background-image: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footerUsa, .footerCanada, .footerMexico{
        padding: 10px 0;
    }

    .copyRightMenuContent{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        text-align: center;
    }
 
    .footer2menu{
        margin: 10px 0 20px 0;
    }
}