@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.formContainer{
  @apply  grid grid-cols-1 gap-2 p-5 md:grid-cols-1 md:gap-4 bg-white shadow-md mx-auto sm:w-4/5 md:w-3/4 lg:w-11/12 
}

.formSection{
  @apply  grid grid-cols-1 gap-2 p-5 md:grid-cols-1 md:gap-4 bg-white shadow-md mx-auto sm:w-4/5 md:w-3/4  
}

.inputsGrid{
  @apply  grid grid-cols-1 gap-2 p-5 md:grid-cols-2 md:gap-4 bg-white  sm:w-4/5 xl:w-full
}

.title-box{
  @apply bg-blue-400 py-7 pl-4 text-xl font-semibold my-4 w-full
}


.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.star {
  @apply text-red-600
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}



a {
  /* color: inherit; */
  color: white;
  text-decoration: none;
}

.tabs{
  color: #505050 ;
}

.list{
  list-style-type:none !important;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  color: #505050;
}

p{
  color: #505050;
}
